@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto:ital,wght@1,500&family=Syncopate:wght@700&family=Tilt+Prism&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Playfair Display', serif;
  background-color: #000;
  color: #fff;
}